@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Klee+One:wght@400;600&family=Sriracha&display=swap');
@font-face {
    font-family: 'neon';
    src: url('fontes/CoffeCake.ttf') format('truetype');
}

*{
    padding:0px;
    margin:0px;
}
body{
    min-width:100vh;
    background-color:black;
}

#rel{
    position:absolute;
    top:10px;
    left:10px;

    color:rgb(90, 1, 1);
    font:2em "sriracha", arial, sans-serif;
    padding:0px 10px 0px 10px;
    border-radius:10px;

    
}

#rel:hover::before{
    content: '';

    position:absolute;
    top:140%;
    left:20%;

    height:0%;
    width:60%;
    transform:perspective(60px)  rotateX(50deg);
    box-shadow:0 0 18px 8px red;

    background-color: red;
}
#rel:hover{
    
    color:rgb(255, 0, 0);
    border:5px solid red;
    box-shadow:inset 0 0 30px red, 0 0 40px red;
    
}

#boxf{
    position:absolute;
    top:30px;
    left:50%;
    transform:translate(-50%);

    width:250px;
    border:10px solid red;
    border-radius:30px;
    padding:30px;
    box-shadow:inset 0 0 40px, 0 0 40px;


    font:6em 'neon', arial, sans-serif;
    color:red;
    text-align:center;
    text-shadow: 0 0 20px red;
}
#boxf::before{
    content: '';
    position: absolute;
    top: 150%;
    left: 28px;
    width: 81%;
    height: 0%;
    background-color: rgb(255 0 0);
    box-shadow: 0 0 20px 11px rgb(255, 0, 0);
    border-radius: 15%;
    transform: perspective(135px) rotateX(43deg);
}
#boxf:hover::after{
    content: 'login';

    position:absolute;
    top:-8%;
    left:-3%;

    width:80%;
    padding:30px;
    background-color:rgb(255, 0, 0);

    box-shadow:0 0 100px red;
    border:10px solid red;
    border-radius:30px;

    color:black;
}
#boxf span{
    animation-name:piscar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#nm{
    position:absolute;
    top:53%;
    left:50%;

    transform:translate(-50%);

    width:283px;
    height:50px;
    background-color:rgba(240, 248, 255, 0);
    border: 5px solid red;
    border-radius:30px;
    box-shadow:inset 0 0 10px red, 0 0 10px red;

    color:white;
    font:1em arial, sans-serif;
    padding:0px 40px 0px 40px;
}
#sn{
    position:absolute;
    top:70%;
    left:50%;

    transform:translate(-50%);

    width:283px;
    height:50px;
    background-color:rgba(240, 248, 255, 0);
    border: 5px solid red;
    border-radius:30px;
    box-shadow:inset 0 0 10px red, 0 0 10px red;

    color:white;
    font:2em arial, sans-serif;
    padding:0px 40px 0px 40px;
}
#pn{
    position:absolute;
    top:46%;
    left:50%;
    transform:translate(-50%);
    font:2em 'sriracha', arial, sans-serif;
    color:rgb(255, 255, 255);

}
#ps{
    position:absolute;
    top:63%;
    left:50%;
    transform:translate(-50%);
    font:2em 'sriracha', arial, sans-serif;
    color:white;
}
#entrar{

    display:inline-block;
    position:absolute;
    top:80%;
    left:41%;
    transform:translate(-50%);
    font:1.3em 'sriracha', arial, sans-serif;
    background-color:rgba(255, 0, 0, 0);
    color:white;
}
#entrar:hover{
    padding:0px 10px;
    border-radius:10px;
    background-color:red;
    transition-duration: 0.2s;
}

#cadastrar{

    display:inline-block;
    position:absolute;
    top:80%;
    left:58%;
    transform:translate(-50%);
    font:1.3em 'sriracha', arial, sans-serif;
    background-color:rgba(255, 0, 0, 0);
    color:white;
}
#cadastrar:hover{
    padding:0px 10px;
    border-radius:10px;
    background-color:red;
    transition-duration: 0.2s;
}
@keyframes piscar{
    0%{color: red}

    20%{color: rgba(102, 0, 0, 0.61); text-shadow: 0 0 20px rgba(102, 0, 0, 0.61)}

    50%{color: rgb(172, 0, 0); 
        text-shadow: 0 0 20px rgb(172, 0, 0)}

    70%{color:rgb(114, 0, 0); 
        text-shadow: 0 0 20px rgb(114, 0, 0) }

    75%{color: rgb(255, 0, 0); 
        text-shadow: 0 0 20px rgb(255, 0, 0)}

    100%{color: rgb(192, 3, 3); 
        text-shadow: 0 0 20px rgb(192, 3, 3)}
}
/*#msg{
    position:absolute;
    top:58%;
    left:40px;

    display: none;
    width:100px;
    padding:20px; 
    border-radius:10px;
    border:5px solid white;
    box-shadow:inset 0 0 20px white, 0 0 20px white;

    color:white;
    font:1.4em 'sriracha', arial, sans-serif;
    text-shadow:0 0 20px white;


}
@keyframes aparecer1{
    0%{color:rgba(255, 255, 255, 0);text-shadow:0 0 20px rgba(255, 255, 255, 0);  border:5px solid rgba(56, 19, 19, 0); box-shadow:inset 0 0 20px rgba(255, 255, 255, 0), 0 0 20px rgba(255, 255, 255, 0);}
    
    100%{border:5px solid white;
        box-shadow:inset 0 0 20px white, 0 0 20px white;
        color:white;
        text-shadow:0 0 20px white;}
}
    
#msg::before{
    content: '';

    position:absolute;
    top:140%;
    left:20%;

    height:0%;
    width:60%;
    transform:perspective(60px)  rotateX(50deg);
    box-shadow:0 0 18px 8px rgb(255, 255, 255);

    background-color: rgb(255, 255, 255);

}*/
#msg1{
    position:absolute;
    top:58%;
    left:40px;

    width:100px;
    padding:20px; 
    border-radius:10px;
    border:5px solid rgba(255, 255, 255, 0);
    box-shadow:inset 0 0 20px rgba(255, 255, 255, 0), 0 0 20px rgba(255, 255, 255, 0);

    color:rgba(255, 255, 255, 0);
    font:1.4em 'sriracha', arial, sans-serif;
    text-shadow:0 0 20px rgba(255, 255, 255, 0);

}
@keyframes aparecer1{
    0%{color:rgba(255, 255, 255, 0);text-shadow:0 0 20px rgba(255, 255, 255, 0);  border:5px solid rgba(56, 19, 19, 0); box-shadow:inset 0 0 20px rgba(255, 255, 255, 0), 0 0 20px rgba(255, 255, 255, 0);}
    
    50%{border:5px solid white;
        box-shadow:inset 0 0 20px white, 0 0 20px white;
        color:white;
        text-shadow:0 0 20px white;}
        
    100%{color:rgba(255, 255, 255, 0);text-shadow:0 0 20px rgba(255, 255, 255, 0);  border:5px solid rgba(56, 19, 19, 0); box-shadow:inset 0 0 20px rgba(255, 255, 255, 0), 0 0 20px rgba(255, 255, 255, 0);}
}
    
